*{
    margin: 0;
    padding: 0;
}
.root-container{
    background-color: #0A1921;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.calc-container{
   
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: stretch;
    justify-content: stretch;
    gap: 2px;
}
.calc-container > input {
    padding: 25px 10px;
    border: none;
    border-radius: 20px;
} 

.calc-container > input:focus{
    background-color: #e7e7e7;
    outline: none;

}

/* .calc-container >button{
    background-color:#FF2F77 ;
    font-size: 24px;
    color: white;
} */

#clear{
    border: 1px solid white;
    padding: 10px;
    border-radius: 50px;
    background-color: coral;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 2px; 
   height: 60%;
   width: 100%;
}
.grid-container > button{
    background-color: #0D2835;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.grid-container>.last-row{
    background-color: #0A1921;
    justify-self: stretch;
    grid-column: 1/5;
    display: flex;
    gap: 2px;
    padding: 0px;
}
.grid-container > .last-row > button{
    background-color: #0D2835 ;
     text-align: center;
     padding: 10px;
     flex-grow: 1;
     color: white;
}
#input:disabled{
    background-color: white;
}